# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.eas/

# Native & Generated
.kotlin/
.gradle/
build/
/ios
/android
*.orig.*
*.apk
*.aab
*.ipa

# Certificates & Keystores
*.jks
*.keystore
*.p8
*.p12
*.key
*.pem
*.cer
*.der
*.pfx
*.crl
*.mobileprovision

# Testing & Coverage
coverage/
.nyc_output/

# Metro
.metro-health-check*

# Package Manager & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*
bun.log
*.log

# Environment & Secrets
.env*
!.env.example

# TypeScript
*.tsbuildinfo

# Operating System files
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Editors & IDEs
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*.swo
*~

# backend server
/server/

# AI agents & assistants
.gemini/
.gemni/
.agents/
.agent/
